<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <title>C2C Email template</title>
  </head>
  <body>
    <div style="width: 1200px; border: 1px solid #a3a9b7">
      <div style="background-color: #17bae0; height: 30px"></div>
      <div
        style="
          padding: 32px;
          font: normal normal normal 16px/30px Rubik;
          text-align: left;
          color: #1b2027;
        "
      >
        <span style="margin-bottom: 44px">Hi, </span>
        <p>
          <span style="margin-bottom: 44px"></span>
          You can find latest Medical News and Journal Updates on Connect2Clinic
          now.
          <br />
          Check update on A new model to predict incidence of lymph node mets in
          PTC cases with T2DM.
        </p>
        <p>
          Click here: 
          <span>
            <a href="https://c2cl.in/w12jnmq">https://c2cl.in/w12jnmq</a>
          </span>
        </p>
        <p>Dr. Demo DoctorA</p>
      </div>
      <div style="background-color: #17bae0; height: 60px"></div>
    </div>
  </body>
</html>
